services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile.dev
    volumes:
      - ./backend:/backend
      - /backend/node_modules
    environment:
      NODE_ENV: development
      DB_HOST: db
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend-network
      - frontend-network

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile.dev
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
    environment:
      NODE_ENV: development
      VITE_API_URL: http://backend:3000
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - frontend-network
