services:
  db:
    image: postgres:18
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./postgres/init:/docker-entrypoint-initdb.d
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]  
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    restart: always
    env_file: .env
    environment:
      DB_HOST: db
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      DB_PORT: ${POSTGRES_PORT}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - frontend-network
      - backend-network

  frontend:
    build: ./frontend
    restart: always
    env_file: .env
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - frontend-network
      - apps_net

volumes:
  postgres_data:

networks:
  frontend-network:
    driver: bridge
  backend-network:
    driver: bridge
  apps_net:
    external: true
    name: apps_net