.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(179, 209, 209);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.search {
    text-align: center;
    width: 50%;
    padding: 0.3rem;
    border-radius: 4px;
    margin: 3px 0 5px 0;
}

.table {
    width: 100%;
    font-size: 0.9em;
    min-width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show; 
}

.table thead tr {
    background-color: rgb(86, 165, 86);
    font-weight: bold;
}

.table th {
    padding: 10px 13px;
}

.table td {
    padding: 10px 13px;
    border-bottom: 1px solid rgb(82, 74, 72);
    height: 25px; 
    vertical-align: middle;
}

.table td, .table th {
    white-space: normal;
    word-break: break-word;
    padding: 10px 13px;
}

.table tbody tr:nth-of-type(even) {
    background-color: rgb(151, 161, 156);
}

.footer {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 600px) {
  .table td {
    height: auto; /* allow rows to grow with content */
    padding: 8px 10px;
    font-size: 0.8em;
  }

  .table th {
    font-size: 0.8em;
    padding: 8px 10px;
  }
}